[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
landlocked = "4AYNJr9c5E2MgtKd2RGsSdSRfEcLfNWm2og83MeFchYv"

[programs.devnet]
landlocked = "4AYNJr9c5E2MgtKd2RGsSdSRfEcLfNWm2og83MeFchYv"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
