[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
landlocked = "39fc7eg4u6F3S4Y3MaWn6HSSFNrHMYNgGwy6tW5Dh3QQ"

[programs.localnet]
landlocked = "39fc7eg4u6F3S4Y3MaWn6HSSFNrHMYNgGwy6tW5Dh3QQ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
