@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-quicksand);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-quicksand), sans-serif;
}

/* Custom WalletMultiButton Styles */
.wallet-adapter-button {
  background-color: #a36143 !important; /* green-500 */
  color: white !important;
  border-radius: 0.5rem !important;
  font-weight: 500 !important;
  transition: all 0.2s !important;
}

.wallet-adapter-button:hover {
  background-color: #ffffff !important; /* green-600 */
  transform: translateY(-1px);
}

.wallet-adapter-button:not([disabled]):hover {
  background-color: #aa7a64 !important;
}

.wallet-adapter-button-trigger {
  background-color: #a36143 !important;
}

.wallet-adapter-button-trigger:hover {
  background-color: #e9e100 !important;
}
